<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nombre Hotel Seleccionado</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/_css/articulos.css">
    <link rel="shortcut icon" href="../static/Hotelia.ico">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <!--Header - menu-->
    <header>
        <div class="header-content">
            <div class="bglogo">
                <img src="../static/Hotelia.png" alt="">
            </div>
            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="../templates/index.html"> <i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="../templates/Login.html"> <i class="fas fa-headset"></i> Inicia sesion para reservar ahora</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-all" id="move-content">
        <div class="article-container-cover">
            <div class="container-info-cover">
                <h1>Lavid Hotel - Kennedy - Cl. 40b Sur #77a -04</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis
                    assumenda.</p>
            </div>
        </div>
        <div class="container-content">
            <article>
                <h1>Titulo del articulo</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum velit earum quam culpa nostrum,
                    totam, a, veritatis laborum sunt optio fuga sint placeat. Ad, aliquid a accusamus maxime harum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi modi, rem obcaecati ipsum
                    repellendus beatae totam reiciendis nemo, laudantium aliquam, praesentium quod! Odio optio, quasi
                    eligendi atque dolorum voluptas odit! ipsum dolor sit amet, consectetur adipisicing elit. Odio nulla
                    quia, doloribus minus, et rerum autem ducimus quam quidem eius id fugiat aut? Sapiente asperiores,
                    quia facere quam, eligendi itaque. ipsum dolor sit amet, consectetur adipisicing elit.
                    Exercitationem reiciendis, culpa voluptatem nesciunt necessitatibus quis architecto odit blanditiis,
                    sapiente illum, animi eius voluptatum laborum commodi delectus voluptatibus obcaecati distinctio.
                    Quas. ipsum dolor sit amet, consectetur adipisicing elit. Similique expedita aliquid officiis
                    adipisci repellat quis odit laboriosam, veritatis fuga, voluptatum iusto in perspiciatis explicabo,
                    distinctio nisi ullam ut quas culpa officia, unde rem earum. Omnis minus aspernatur beatae
                    asperiores laboriosam! Magni ducimus qui, aliquid modi ex autem unde corporis harum.</p>
                <div class="slider">
                    <ul>
                        <li>
                            <img src="../static/img/3.jpg">
                        </li>
                        <li>
                            <img src="../static/img/1.jpg">
                        </li>
                        <li>
                            <img src="../static/img/8.jpg">
                        </li>
                        <li>
                            <img src="../static/img/4.jpg">
                        </li>
                    </ul>
                    <p>Comentarios:</p>
                </div>
            </article>
            <div class="container-aside">
                <aside>
                    <img src="../static/img/img6.jpg" alt="">
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quo, vel officiis voluptas minima
                        at totam provident cupiditate ad consectetur!</p>
                </aside>
                <aside>
                    <img src="../static/img/img4.jpg" alt="">
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quo, vel officiis voluptas minima
                        at totam provident cupiditate ad consectetur!</p>
                    <a href="#"><button>RESERVA AHORA</button></a>
                </aside>
            </div>
        </div>
        <div class="container-footer">
            <footer>
                <div class="logo-footer">
                    <img src="../static/Hotelia.png" alt="">
                </div>
                <hr>
                <br>
                <h4>© 2023 Hotelia - Todos los Derechos Reservados</h4>
                <br>
            </footer>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>