<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotelia</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/_css/Encargado.css">
    <link rel="shortcut icon" href="../static/Hotelia.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <!--Header - menu-->
    <header>
        <div class="header-content">
            <div class="bglogo">
                <h1><img src="../static/Hotelia_W.png"></h1>
            </div>
            <div id="welcome-container">
                <div id="welcome">
                    <!-- toca poner el diferenciador entre hombre y mujer...
                        el hombre (Bienvenido) y la mujer (Bienvenida)-->
                    <p>Bienvenido, (Nombre)</p>
                </div>
                <div id="ctn-icon-circle">
                    <div id="ctn-icon-user">
                        <i class="fa-regular fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-all" id="move-content">
        <div class="container-buttons">
            <input type="radio" id="View" name="categories" value="View" Checked>
            <input type="radio" id="Agregar" name="categories" value="Agregar">
            <input type="radio" id="Actualizar" name="categories" value="Actualizar">
            <input type="radio" id="Eliminar" name="categories" value="Eliminar">
            <div class="container-category">
                <label for="View" >Registro</label>
                <label for="Agregar" >Agregar</label>
                <label for="Actualizar" >Actualizar</label>
                <label for="Eliminar" >Eliminar</label> 
            </div>
        </div>

        <div class="Content-info" id="Content-info">
            
            

        </div><!--Die Content-info-->
            
        <div class="container-footer">	
            <footer>
                <div class="logo-footer">
                    <img src="../static/Hotelia_W.png" alt="">
                </div>
                <hr>
                <h4>© 2023 Hotelia - Todos los Derechos Reservados</h4>
            </footer>
        </div>
    </div>
<script src="../static/_js/encargado.js"></script>
</body>
</html>